*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   
.header{
    width: 80%;
    background-color: rgba(127, 255, 212, 0.459);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.header h1{
    color: rgb(0, 68, 255);
}
.header p{
    color: sandybrown;
    background-color: rgba(0, 255, 255, 0.527);
    border: 2px solid blue;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.header img{
    width: 150px;
    box-shadow: 2.5px 20px 60px 5px blue ;
    border-radius: 30px;
    margin-top: 30%;
}