.country{
    border: 2px solid tomato;
    border-radius: 15px;
    background: #218cf079;
    padding: 20px;
    margin: 20px auto;
}
.background{
    background: rgb(0, 0, 0);
}
.none{
    background: transparent;
}